{% extends 'base.html' %}

{% block title %}Database Check - MIIT Academia{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-4">Database Check</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
        {% for table_name, table_data in tables_data.items %}
        <a href="{% url 'table_data' table_name %}" class="block bg-white rounded-lg shadow-md hover:bg-gray-100 transition duration-300 ease-in-out">
            <div class="p-6">
                <h3 class="text-xl font-semibold mb-4">{{ table_name }}</h3>
                <p class="text-gray-700">Click here to view table data.</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
