<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link id="theme-stylesheet" rel="stylesheet" href="">
    <link href="{% static 'css/tailwind_2.2.19.min.css' %}" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        window.onload = function() {
               const theme = getCookie('theme') || 'original_theme';
               document.getElementById('theme-stylesheet').href = `/static/themes/${theme}.css`;
           };
   
           function getCookie(name) {
               const value = `; ${document.cookie}`;
               const parts = value.split(`; ${name}=`);
               if (parts.length === 2) return parts.pop().split(';').shift();
           }
   </script>
</head> 
<body class="cardcolor ">
    <div class="container mx-auto  my-36 rounded-lg border bordercolor cardcolor1 flex w-1/2">
        <div class="border-r bordercolor flex items-center w-2/5">
            <img src="{% static 'images/forget_password.png' %}" alt="image" class="h-72 mx-auto">
        </div>
        <div class="mx-auto w-3/4">
            <h1 class="text-2xl font-bold my-6 text-center">Forgot Password</h1>
            <form method="post" class="">
                {% csrf_token %}
                <div class="flex justify-center mb-8">
                    <input type="email" name="email" id="email" placeholder="Email" class="mt-1 border rounded-md py-2 px-3 w-3/5" required>
                </div>
                <div class="flex justify-center mb-4">
                    <div class="g-recaptcha" data-sitekey="{{ RECAPTCHA_PUBLIC_KEY }}"></div>
                </div>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            {% if 'success' in message.tags %}
                                <li class="text-green-700 px-4 py-2 rounded relative my-4 text-center">
                                    <strong class="font-bold">Success!</strong>
                                    <span class="block sm:inline">{{ message }}</span>
                                </li>
                            {% elif 'error' in message.tags %}
                                <li class="text-red-700 px-4 py-2 rounded relative my-4 text-center">
                                    <strong class="font-bold">Error!</strong>
                                    <span class="block sm:inline">{{ message }}</span>
                                </li>
                            {% elif 'info' in message.tags %}
                                <li class="text-blue-700 px-4 py-2 rounded relative my-4 text-center">
                                    <strong class="font-bold">Notice:</strong>
                                    <span class="block sm:inline">{{ message }}</span>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="flex justify-center">
                    <button type="submit" class="custombg font-bold py-2 px-4 rounded mb-4">Submit</button>
                </div>
            </form>
        </div> 
    </div>
    <footer class="text-white text-base py-6">
        <div class="container mx-auto px-4 flex flex-col md:flex-row justify-between items-center">
            <div class="flex-shrink-0 mb-4 md:mb-0 mx-8">
                <a href="#">
                    <img src="{% static 'images/miit-logo.png' %}" alt="MIIT Logo" class="h-20">
                </a>
            </div>
            <div class="flex-grow text text-center md:text-left">
                <p>Myanmar Institute of Information Technology is a computer university located in Mandalay, Myanmar.<br> It was set up as a National Centre of Excellence in 2015.</p>
                <p>This application was developed internally at MIIT. </p>
            </div>
            <div class="flex space-x-10 mx-10 mt-4 md:mt-0">
                <a href="http://facebook.com/miit.edu.mdy.mm"><img src="{% static 'images/facebook_icon.png' %}" alt="Facebook" class="h-8"></a>
                <a href="https://twitter.com/MIIT_Mandalay"><img src="{% static 'images/twitter_icon.png' %}" alt="Twitter" class="h-8"></a>
                <a href="https://www.youtube.com/@miitmandalay9212"><img src="{% static 'images/youtube_icon.png' %}" alt="Youtube" class="h-8"></a>
                <a href="https://www.linkedin.com/school/myanmar-institute-of-information-technology-miit-/mycompany/"><img src="{% static 'images/linkedin_icon.png' %}" alt="LinkedIn" class="h-8"></a>
            </div>
        </div>
    </footer>
</body>
<style>
    footer {
            position: relative;
            bottom: 0;
            width: 100%;
            padding: 1rem 0; /* Adjust as needed */
        }
</style>
</html>
