{% extends 'student_affairs_base.html' %}
{% load static %}
{% block title %}Information Center - MIIT Academia{% endblock %}
<style>
    .reducewidth{
            width: calc(100% - 250px);
        }
</style>

{% block student_affairs_content %}
<div id="main" class="transition-all duration-500 p-4 ml-0 mt-36 container">
    <h1 class="text-3xl text-center font-bold mb-8">Edit User Information</h1>
    <form method="post" class="mb-8" id="search-form">
        {% csrf_token %}
        <div class="flex items-center space-x-4 ml-10"> 
            <label for="email" class="text-lg font-medium">Email:</label>
            {% if email %}
                <input type="text" id="email" name="email" value="{{ selected_user.UserID.username }}" class="border rounded-md py-2 px-3 w-1/2" placeholder="Enter email to search" autocomplete="off">
            {% else %}
                <input type="text" id="email" name="email" class="border rounded-md py-2 px-3 w-1/2" placeholder="Enter email to search" autocomplete="off">
            {% endif %}
            <button type="submit" class="custombg text-white font-bold py-2 px-4 rounded">Search</button>
        </div>
    </form>

    {% if selected_user %}
        {% if selected_user_type == 'Student' %}
            <!-- Personal Information -->
            <div class="p-6 m-6 cardcolor rounded-3xl mx-10">
                <fieldset class="cardcolor p-6 border border-gray-300 rounded-xl">
                    <legend class="text-2xl mb-4">Personal Information</legend>
                    <form method="post" action="{% url 'update_student_personal' %}" class="mb-8" id="search-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-4">
                            <img id="avatar-image" src="{% static 'images/users/Students/' %}{{ user_id }}.png" alt="Information Icon" class="border border-black w-28 h-28 mb-4" onerror="this.onerror=null; this.src='{% static 'images/users/avatar.png' %}';">
                            <input type="file" id="file-input" name="avatar" class="hidden">
                            <button type="button" id="upload-button" class="border border-black hover:bg-gray-100 text-black mt-4 px-4 rounded focus:outline-none focus:shadow-outline">
                                Upload Image
                            </button>
                        </div>                   
                        <div class="mb-4 flex flex-col md:flex-row items-center">
                            <label for="student_name" class="text-gray-700 w-full md:w-1/4">Student Name:</label>
                            <input type="text" id="student_name" name="student_name" value="{{ selected_user.StudentName }}" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4" required>
                        </div>
    
                        <div class="mb-4 flex flex-col md:flex-row items-center">
                            <label for="student_nrc" class="text-gray-700 w-full md:w-1/4">Student NRC:</label>
                            <input type="text" id="student_nrc" name="student_nrc" value="{{ selected_user.StudentNRC }}" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4">
                        </div>
    
                        <div class="mb-4 flex flex-col md:flex-row items-center">
                            <label for="nationality" class="text-gray-700 w-full md:w-1/4">Nationality:</label>
                            <input type="text" id="nationality" name="nationality" value="{{ selected_user.Nationality }}" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4">
                        </div>
    
                        <div class="mb-4 flex flex-col md:flex-row items-center">
                            <label for="religion" class="text-gray-700 w-full md:w-1/4">Religion:</label>
                            <input type="text" id="religion" name="religion" value="{{ selected_user.Religion }}" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4">
                        </div>
    
                        <div class="mb-4 flex flex-col md:flex-row items-center">
                            <label for="student_dob" class="text-gray-700 w-full md:w-1/4">Date of Birth:</label>
                            <input type="date" id="student_dob" name="student_dob" value="{{ selected_user.StudentDOB|date:'Y-m-d' }}" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4" required>
                        </div>
    
                        <div class="mb-4 flex flex-col md:flex-row items-center">
                            <label for="student_phone" class="text-gray-700 w-full md:w-1/4">Phone Number:</label>
                            <input type="text" id="student_phone" name="student_phone" value="{{ selected_user.StudentPhone }}" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4">
                        </div>
    
                        <div class="mb-4 flex flex-col md:flex-row items-center">
                            <label for="email" class="text-gray-700 w-full md:w-1/4">Email:</label>
                            <input type="hidden" id="student_email" name="student_email" value="{{ selected_user.UserID.username }}" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4">
                            <input type="email" id="email" name="email" value="{{ selected_user.UserID.username}}" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4" readonly>
                        </div>
                        <div class="mb-4">
                            <button type="submit" name="update_student_info" class="custombg text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Update</button>
                        </div>
                    </form>
                    
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                {% if 'personal_info' in message.tags %}
                                    <li class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-4">
                                        <strong class="font-bold">Success!</strong>
                                        <span class="block sm:inline">{{ message }}</span>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}

                </fieldset>
            </div>

            <!-- MIIT Academic Information -->
            <div class="p-6 m-6 cardcolor rounded-3xl mx-10">
                <fieldset class="cardcolor p-6 border border-gray-300 rounded-xl">
                    <legend class="text-2xl mb-4">MIIT Academic Information</legend>
                    <form action="{% url "update_academic_info" %}" method="POST" id='search-form' class='mb-8'>
                        {% csrf_token %}
                        <input type="hidden" id="student_email" name="student_email" value="{{ selected_user.UserID.username }}" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4">
                        <div class="mb-4 flex flex-col md:flex-row items-center">
                            <label for="roll_number" class="text-gray-700 w-full md:w-1/4">Roll Number:</label>
                            <input type="text" id="roll_number" name="roll_number" value="{{ selected_user.RollNumber }}" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4" required>
                        </div>

                        <div class="mb-4 flex flex-col md:flex-row items-center">
                            <label for="program" class="text-gray-700 w-full md:w-1/4">Program:</label>
                            <select id="program" name="program_id" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4" required>
                                {% for option in programs %}
                                    <option value="{{ option.ProgramID }}" {% if option.ProgramID == program.ProgramID %} selected {% endif %}>
                                        {{ option.ProgramFullName }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="mb-4 flex flex-col md:flex-row items-center">
                            <label for="discipline" class="text-gray-700 w-full md:w-1/4">Discipline:</label>
                            <select id="discipline" name="discipline_id" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4" required>
                                {% for option in disciplines %}
                                    <option value="{{ option.DisciplineID }}" {% if discipline.DisciplineID == option.DisciplineID %}selected{% endif %}>
                                        {{ option.DisciplineFullName }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="mb-4 flex flex-col md:flex-row items-center">
                            <label for="batch_year" class="text-gray-700 w-full md:w-1/4">Batch Year:</label>
                            <select id="batch_year" name="batch_id" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4" required>
                                {% for option in batches %}
                                    <option value="{{ option.BatchID }}" {% if option.BatchID == batch.BatchID %}selected{% endif %}>
                                        {{ option.BatchYear }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="mb-4 flex flex-col md:flex-row items-center">
                            <label for="section_name" class="text-gray-700 w-full md:w-1/4">Section:</label>
                            <select id="section_name" name="section_name" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4" required>
                                <option value="S1" {% if selected_user.SectionName == 'S1' %}selected{% endif %}>S1</option>
                                <option value="S2" {% if selected_user.SectionName == 'S2' %}selected{% endif %}>S2</option>
                                <option value="S3" {% if selected_user.SectionName == 'S3' %}selected{% endif %}>S3</option>
                                <option value="S4" {% if selected_user.SectionName == 'S4' %}selected{% endif %}>S4</option>
                            </select>
                        </div>

                        <div class="mb-4 flex flex-col md:flex-row items-center">
                            <label for="miit_id" class="text-gray-700 w-full md:w-1/4">MIIT ID:</label>
                            <input type="text" id="miit_id" name="miit_id" value="{{ selected_user.MIITID }}" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4" required>
                        </div>

                        <div class="mb-4 flex items-center">
                            <label for="acb_status" class="text-gray-700 w-full md:w-1/4">ACB Status:</label>
                            <input type="checkbox" id="acb_status" name="acb_status" {% if selected_user.ACBStatus %}checked{% endif %} class="border border-gray-300 rounded-md px-4 mt-2 md:mt-0 md:ml-2">
                        </div>
                        <div class="mb-4">
                            <button type="submit" name="update_academic_info" class="custombg text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Update</button>
                        </div>
                    </form>

                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                {% if 'academic_info' in message.tags %}
                                    <li class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-4">
                                        <strong class="font-bold">Success!</strong>
                                        <span class="block sm:inline">{{ message }}</span>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}

                </fieldset>
            </div>

            <!-- High School Information -->
            <div class="p-6 m-6 cardcolor rounded-3xl mx-10">
                <fieldset class="cardcolor p-6 border border-gray-300 rounded-xl">
                    <legend class="text-2xl mb-4">High School Information</legend>
                    <form action="{% url "update_highschool" %}" method="POST" id='search-form' class='mb-8'>
                        {% csrf_token %}
                        <input type="hidden" id="student_email" name="student_email" value="{{ selected_user.UserID.username }}" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4">
                        <div class="mb-4 flex flex-col md:flex-row items-center">
                            <label for="matric_roll_number" class="text-gray-700 w-full md:w-1/4">Matric Roll Number:</label>
                            <input type="text" id="matric_roll_number" name="matric_roll_number" value="{{ selected_user.MatricRollNumber }}" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4">
                        </div>

                        <div class="mb-4 flex flex-col md:flex-row items-center">
                            <label for="matric_exam_year" class="text-gray-700 w-full md:w-1/4">Matric Exam Year:</label>
                            <input type="text" id="matric_exam_year" name="matric_exam_year" value="{{ selected_user.MatricExamYear }}" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4">
                        </div>
                        <div class="mb-4">
                            <button type="submit" name="update_highschool" class="custombg text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Update</button>
                        </div>
                    </form>

                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                {% if 'highschool_info' in message.tags %}
                                    <li class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-4">
                                        <strong class="font-bold">Success!</strong>
                                        <span class="block sm:inline">{{ message }}</span>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}

                </fieldset>
            </div>

                <!-- Guardian Information -->
            <div class="p-6 m-6 cardcolor rounded-3xl mx-10">
                <fieldset class=" cardcolor p-6 border border-gray-300 rounded-xl">
                    <legend class="text-2xl mb-4">Guardian Information</legend>
                    <form action="{% url "update_guardian_info" %}" method="POST" class="mb-8" id="search-form">
                        {% csrf_token %}
                        <input type="hidden" id="student_email" name="student_email" value="{{ selected_user.UserID.username }}" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4">
                        <div class="mb-4 flex flex-col md:flex-row items-center">
                            <label for="father_name" class="text-gray-700 w-full md:w-1/4">Father's Name:</label>
                            <input type="text" id="father_name" name="father_name" value="{{ selected_user.FatherName }}" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4">
                        </div>

                        <div class="mb-4 flex flex-col md:flex-row items-center">
                            <label for="father_nrc" class="text-gray-700 w-full md:w-1/4">Father's NRC:</label>
                            <input type="text" id="father_nrc" name="father_nrc" value="{{ selected_user.FatherNRC }}" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4">
                        </div>

                        <div class="mb-4 flex flex-col md:flex-row items-center">
                            <label for="father_phone" class="text-gray-700 w-full md:w-1/4">Father's Phone Number:</label>
                            <input type="text" id="father_phone" name="father_phone" value="{{ selected_user.FatherPhoneNumber }}" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4">
                        </div>

                        <div class="mb-4 flex flex-col md:flex-row items-center">
                            <label for="mother_name" class="text-gray-700 w-full md:w-1/4">Mother's Name:</label>
                            <input type="text" id="mother_name" name="mother_name" value="{{ selected_user.MotherName }}" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4">
                        </div>

                        <div class="mb-4 flex flex-col md:flex-row items-center">
                            <label for="mother_nrc" class="text-gray-700 w-full md:w-1/4">Mother's NRC:</label>
                            <input type="text" id="mother_nrc" name="mother_nrc" value="{{ selected_user.MotherNRC }}" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4">
                        </div>

                        <div class="mb-4 flex flex-col md:flex-row items-center">
                            <label for="mother_phone" class="text-gray-700 w-full md:w-1/4">Mother's Phone Number:</label>
                            <input type="text" id="mother_phone" name="mother_phone" value="{{ selected_user.MotherPhoneNumber }}" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4">
                        </div>
                        <div class="mb-4">
                            <button type="submit" name="update_guardian_info" class="custombg text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Update</button>
                        </div>
                    </form>

                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                {% if 'guardian_info' in message.tags %}
                                    <li class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-4">
                                        <strong class="font-bold">Success!</strong>
                                        <span class="block sm:inline">{{ message }}</span>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}

                </fieldset>
            </div>

            <!-- Address -->
            <div class="p-6 m-6 cardcolor rounded-3xl mx-10">
                <fieldset class=" cardcolor p-6 border border-gray-300 rounded-xl">
                    <legend class="text-2xl mb-4">Address</legend>
                    <form action="{% url "update_address" %}" method="POST" class="mb-8" id="search-form">
                        {% csrf_token %}
                        <div class="mb-4">
                            <input type="hidden" id="student_email" name="student_email" value="{{ selected_user.UserID.username }}" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4">
                            <textarea id="address" name="address" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-full">{{ selected_user.Address }}</textarea>
                        </div>
                        <div class="mb-4">
                            <button type="submit" name="update_address" class="custombg text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Update</button>
                        </div>
                    </form>

                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                {% if 'address_info' in message.tags %}
                                    <li class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-4">
                                        <strong class="font-bold">Success!</strong>
                                        <span class="block sm:inline">{{ message }}</span>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}

                </fieldset>
            </div>
            
        {% elif selected_user_type == 'Faculty' %}
            <!--Faculty Personal Information -->
            <div class="p-6 m-6 cardcolor rounded-3xl mx-10">
                <fieldset class="cardcolor p-6 border border-gray-300 rounded-xl">
                    <legend class="text-2xl mb-4">Personal Information</legend>
                    <form method="post" action="{% url 'update_faculty_personal' %}" class="mb-8" id="search-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-4">
                            <img id="avatar-image" src="{% static 'images/users/FacultyStaffs/' %}{{ user_id }}.png" alt="Information Icon" class="border border-black w-28 h-28 mb-4" onerror="this.onerror=null; this.src='{% static 'images/users/avatar.png' %}';">
                            <input type="file" id="file-input" name="avatar" class="hidden">
                            <button type="button" id="upload-button" class="border border-black hover:bg-gray-100 text-black mt-4 px-4 rounded focus:outline-none focus:shadow-outline">
                                Upload Image
                            </button>
                        </div>
                        <div class="mb-4 flex flex-col md:flex-row items-center">
                            <label for="faculty_name" class="text-gray-700 w-full md:w-1/4">Faculty Name:</label>
                            <input type="text" id="faculty_name" name="faculty_name" value="{{ selected_user.FacultyStaffName }}" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4" required>
                        </div>

                        <div class="mb-4 flex flex-col md:flex-row items-center">
                            <label for="salutation" class="text-gray-700 w-full md:w-1/4">Salutation:</label>
                            <input type="text" id="salutation" name="salutation" value="{{ selected_user.Salutation }}" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4" required>
                        </div>

                        <div class="mb-4 flex flex-col md:flex-row items-center">
                            <label for="short_name" class="text-gray-700 w-full md:w-1/4">Short Name:</label>
                            <input type="text" id="short_name" name="short_name" value="{{ selected_user.ShortName }}" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4" required>
                        </div>

                        <div class="mb-4 flex flex-col md:flex-row items-center">
                            <label for="designation" class="text-gray-700 w-full md:w-1/4">Designation:</label>
                            <input type="text" id="designation" name="designation" value="{{ selected_user.Designation }}" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4" required>
                        </div>

                        <div class="mb-4 flex flex-col md:flex-row items-center">
                            <label for="department" class="text-gray-700 w-full md:w-1/4">Department:</label>
                            <input type="text" id="department" name="department" value="{{ selected_user.Department }}" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4" required>
                        </div>

                        <div class="mb-4 flex flex-col md:flex-row items-center">
                            <label for="nrc" class="text-gray-700 w-full md:w-1/4">NRC:</label>
                            <input type="text" id="nrc" name="nrc" value="{{ selected_user.NRC }}" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4">
                        </div>

                        <div class="mb-4 flex flex-col md:flex-row items-center">
                            <label for="phone" class="text-gray-700 w-full md:w-1/4">Phone:</label>
                            <input type="text" id="phone" name="phone" value="{{ selected_user.Phone }}" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4">
                        </div>

                        <div class="mb-4 flex flex-col md:flex-row items-center">
                            <label for="address" class="text-gray-700 w-full md:w-1/4">Address:</label>
                            <textarea id="address" name="address" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4">{{ selected_user.Address }}</textarea>
                        </div>

                        <div class="mb-4 flex flex-col md:flex-row items-center">
                            <label for="email" class="text-gray-700 w-full md:w-1/4">Email:</label>
                            <input type="hidden" id="faculty_email" name="faculty_email" value="{{ selected_user.UserID.username }}" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4">
                            <input type="email" id="email" name="email" value="{{ selected_user.UserID.username }}" class="border border-gray-300 rounded-md px-4 py-2 mt-2 md:mt-0 md:ml-2 w-full md:w-3/4" disabled>
                        </div>

                        <div class="mb-4">
                            <button type="submit" name="update_faculty_info" class="custombg text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Update</button>
                        </div>
                    </form>

                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                {% if 'faculty_personal_info' in message.tags %}
                                    <li class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-4">
                                        <strong class="font-bold">Success!</strong>
                                        <span class="block sm:inline">{{ message }}</span>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}

                </fieldset>
            </div>
        {% endif %}
    {% endif %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if 'not_found' in message.tags %}
                    <li class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4 ml-10">
                        <strong class="font-bold">Error!</strong>
                        <span class="block sm:inline">{{ message }}</span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul> 
    {% endif %}
</div>
{% endblock %}

{% block extra_scripts %}
{% load static %}
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/jquery_ui_1.13.0.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/jquery_ui_1.13.0.min.css' %}">
<script>
    window.onload = function() {
            const theme = getCookie('theme') || 'original_theme';
            document.getElementById('theme-stylesheet').href = `/static/themes/${theme}.css`;
        };

        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }
$(function() {
    
    // Autocomplete for email field
    $("#email").autocomplete({
        source: function(request, response) {
            $.ajax({
                url: "{% url 'autocomplete_emails' %}",
                data: {
                    term: request.term
                },
                success: function(data) {
                    var maxResults = 120;
                    var filteredResults = data.emails.slice(0, maxResults);
                    response(filteredResults);
                }
            });
        },
        minLength: 1,
        delay: 0,
        select: function(event, ui) {
            event.preventDefault();
            $('#email').val(ui.item.value);
        },
        open: function() {
            var maxHeight = 200;
            $(".ui-autocomplete").css("max-height", maxHeight + "px");
            $(".ui-autocomplete").css("overflow-y", "auto");
        }
    });

    // Prevent form submission when autocompleting
    $("#search-form").submit(function(event) {
        event.preventDefault();
        this.submit();
    });

    // File upload handling
    document.getElementById('upload-button').addEventListener('click', function() {
        document.getElementById('file-input').click();
    });

    document.getElementById('file-input').addEventListener('change', function(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('avatar-image').src = e.target.result;
            }
            reader.readAsDataURL(file);
        }
    });

    // Fallback for missing user images
    const avatarImage = document.getElementById('avatar-image');
    avatarImage.onerror = function() {
        avatarImage.src = "{% static 'images/users/avatar.png' %}";
    };
});

$(document).ready(function() {
    $('#dropdownMenuButton').on('click', function(event) {
        event.preventDefault();
        $('#dropdownMenu').toggle();
    });

    $(document).on('click', function(event) {
        if (!$(event.target).closest('#dropdownMenuButton, #dropdownMenu').length) {
            $('#dropdownMenu').hide();
        }
    });
});
document.addEventListener("DOMContentLoaded", () => {
    // Select all dropdown toggle buttons
    const dropdownToggles = document.querySelectorAll(".dropdown-toggle")

    dropdownToggles.forEach((toggle) => {
        toggle.addEventListener("click", () => {
        // Find the next sibling element which is the dropdown menu
        const dropdownMenu = toggle.nextElementSibling

        // Toggle the 'hidden' class to show or hide the dropdown menu
        if (dropdownMenu.classList.contains("hidden")) {
            // Hide any open dropdown menus before showing the new one
            document.querySelectorAll(".dropdown-menu").forEach((menu) => {
            menu.classList.add("hidden")
            })

            dropdownMenu.classList.remove("hidden")
        } else {
            dropdownMenu.classList.add("hidden")
        }
        })
    })

    // Optional: Clicking outside of an open dropdown menu closes it
    window.addEventListener("click", (event) => {
        if (!event.target.matches(".dropdown-toggle")) {
        document.querySelectorAll(".dropdown-menu").forEach((menu) => {
            if (!menu.contains(event.target)) {
            menu.classList.add("hidden")
            }
        })
        }
    })
    const menubutton = document.querySelector(".nav-menu-button")
    const menu = document.querySelector(".nav-menu")

    menubutton.addEventListener("click", () => {
        menu.classList.toggle("hidden")
    })
})
function disableTransitions() {
    document.body.classList.add('disable-transition');
    setTimeout(() => {
        document.body.classList.remove('disable-transition');
    }, 100); // Adjust timeout as needed
}

function openNav() {
    document.getElementById("mySidenav").classList.add('open');
    document.getElementById("main").classList.add('reducewidth');
    document.getElementById("main").classList.add('shifted');
    document.getElementById("open").classList.add('hidden');
    document.getElementById("close").classList.remove('hidden');
    document.getElementById("footer").classList.add('reducewidth');
    document.getElementById("footer").style.marginLeft = "250px";
    localStorage.setItem('sidebarState', 'open');
}

function closeNav() {
    document.getElementById("mySidenav").classList.remove('open');
    document.getElementById("main").classList.remove('reducewidth');
    document.getElementById("main").classList.remove('shifted');
    document.getElementById("close").classList.add('hidden');
    document.getElementById("open").classList.remove('hidden');
    document.getElementById("footer").style.marginLeft = "0";
    document.getElementById("footer").classList.remove('reducewidth');
    localStorage.setItem('sidebarState', 'closed');
}

document.addEventListener('DOMContentLoaded', function () {
    const sidebarState = localStorage.getItem('sidebarState');
    disableTransitions(); // Disable transitions initially
    if (sidebarState === 'open') {
        openNav();
    } else {
        closeNav();
    }
    const dropdownToggles = document.querySelectorAll(".dropdown-toggle")

    dropdownToggles.forEach((toggle) => {
        toggle.addEventListener("click", () => {
        // Find the next sibling element which is the dropdown menu
        const dropdownMenu = toggle.nextElementSibling

        // Toggle the 'hidden' class to show or hide the dropdown menu
        if (dropdownMenu.classList.contains("hidden")) {
            // Hide any open dropdown menus before showing the new one
            document.querySelectorAll(".dropdown-menu").forEach((menu) => {
            menu.classList.add("hidden")
            })

            dropdownMenu.classList.remove("hidden")
        } else {
            dropdownMenu.classList.add("hidden")
        }
        })
    })
    const menubutton = document.querySelector(".nav-menu-button")
    const menu = document.querySelector(".nav-menu")

    menubutton.addEventListener("click", () => {
        menu.classList.toggle("hidden")
    })
});
</script>
{% endblock %}

